# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pm2.log
pm2.pid

# Temporary files
tmp/
dist/
build/
.cache/
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
*.swp
*.swo
*.swn

# OS-specific files
*.bak
*.tmp
